useDynLib( ssgraph, .registration = TRUE )

importFrom( "Matrix", "Matrix", "printSpMatrix" )

importFrom( "igraph", "graph.adjacency", "plot.igraph", "layout.circle" )
importFrom( "igraph", "make_undirected_graph", "max_cliques" )

importFrom( "grDevices", "dev.new" )
importFrom( "graphics", "abline", "par", "plot", "text" )
importFrom( "stats", "qnorm", "rnorm", "sd" )

export( ssgraph,
        
		print.ssgraph, 
		plot.ssgraph, 
		summary.ssgraph
        )

S3method( "summary", "ssgraph" )
S3method( "plot"   , "ssgraph" )
S3method( "print"  , "ssgraph" )
