useDynLib( ssgraph, .registration = TRUE )

import( "BDgraph" )

importFrom( "igraph", "layout.circle" )

export( ssgraph,
        
		print.ssgraph, 
		plot.ssgraph, 
		summary.ssgraph
        )

S3method( "summary", "ssgraph" )
S3method( "plot"   , "ssgraph" )
S3method( "print"  , "ssgraph" )
